<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/images/2.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            <h1>404</h1>
            {{>header}}
            {{errorMessage}}
        </div>
        {{>footer}} 
    </body>

</html>
