<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/images/2.jpg">
        <link rel="stylesheet" href="/css/style.css">
        <script src="js/index.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h1>About of our Company</h1>
            <img class="potrait" src="images/2.jpg">
            <h2>Know {{title}} :- {{name}}</h2>
        </div>
        {{>footer}}

    </body>

</html>