<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/images/2.jpg">
        <link rel="stylesheet" href="/css/style.css">
        <script src="js/index.js"></script>
    </head>

    <body>
        <div class="main-contents">
            {{>header}}
            <p>This site was created by Shivarevanth. It uses data from mapbox.com and weatherstack.com</p>
            <img class="potrait" src="images/2.jpg">

        </div>
        <h3 class="shiva">Created By Shivarevanth</h3>

    </body>

</html>