<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="/images/2.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h1>Help and Services of our Company</h1>
            <h2>Take {{title}} from {{name}}</h2>
        </div>
        {{>footer}}

    </body>

</html>