body {
    color: #333333;
    font-family: arial;
    background-color: ghostwhite;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}

header {
    margin-top: 16px;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 16px;
}

.main-content {
    margin-bottom: 400px;
}

form {
    padding-top:10px;
    text-align: center;
}

p {
    text-align: center;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.potrait {
    width: 250px;
    height: 300px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

img {
   padding-left: 500px; 
}

.main-contents {
    margin-bottom: 120px;
}

.shiva {
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
}

.chakri {
    text-align: center;
    background-color: violet;
    color: white;
}